body{
	font-family: "Montserrat", arial;
	text-align: center;
	background-color: #ffcc99;
	width: 100%;

}
.game-box{
	position: relative;
	display: block;
	margin: 0 auto;
	min-height: 550px;
	width: 550px;
	background-color: #333;
	border-radius: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 3px 2px 15px;
}
.game-button{
	position: absolute;
	width: 50%;
	height: 50%;
	border: 25px solid;
	cursor: pointer;
}
.left-upper{
	left: 0;
	top: 0;
	background-color: #9f0f17;
	border-top-left-radius: 100%;	
}
.left-upper:active{
	background-color: #ff4c4c;
}
.right-upper{
	right: 0;
	top: 0;
	background-color: #094a8f;	
	border-top-right-radius: 100%;
}
.right-upper:active{
	background-color: #1c8cff;	
}
.left-lower{
	left: 0;
	bottom: 0;
	background-color: #cca707;
	border-bottom-left-radius: 100%;	
}
.left-lower:active{
	background-color: #fed93f;
}
.right-lower{
	right: 0;
	bottom: 0;
	background-color: #00a74a;
	border-bottom-right-radius: 100%;	
}
.right-lower:active{
	background-color: #13ff7c;

}
.right-upper.button-active{
	background-color: #1c8cff;
}

.right-lower.button-active{
	background-color: #13ff7c;
}

.left-lower.button-active{
	background-color: #fed93f;
}

.left-upper.button-active{
	background-color: #ff4c4c;
}
.console-box{
	position: absolute;
	border-radius: 100%;
	width: 50%;
	height: 50%;
	background-color: #ECE7EE;
	z-index: 1;
	top: 25%;
	right: 25%;
	border: 15px solid;
}
.score-box{
	position: absolute;
	background-color: darkred;
	top: 42%;
	left: 10%;
	width: 30%;
	height: 15%;
	border-radius: 15%;
	border: 2px solid;	
}
.score-display{
	font-size: 1.5rem;
	margin-bottom: -1.8px;
}
.start-box{
	position: absolute;
	top: 43%;
	left: 44%;
}
.btn-start{
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius: 100%;
	border: 2px solid;	
}
.strict-box{
	position: absolute;
	top: 35.6%;
	right: 10%;		
}
.btn-strict{
	width: 30px;
	height: 30px;
	background-color: yellow;
	border-radius: 100%;
	border: 2px solid;
	margin-top: 18px;
}
.strict-light{
	position: absolute;
	left: 36%;
	width: 15px;
	height: 15px;
	background-color: black	;
	border-radius:100%;
	border: 2px solid;
}